* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #01426A;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

nav a {
  color: white;
  text-decoration: none;
}
.icon {
  padding: 14px 16px;
  background-color: #01426A;
  color: white;
  border: none;
}
.mt-5{
  margin-top: 6rem;
}
.greeting-container {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: stretch;
  opacity: 0.8;
}
.greeting-centered-text{
  position: absolute;
  top: -13px;
  left: 10px;
  color: white;
}
.greeting-centered-text p {
  font-weight: bold;
  text-shadow: 1px 1px #01426A;
}
ul#menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: margin-left .5s;
}
#menu li , #second-nav-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #2675A6;
  color: white;
  font-weight: bold;
}
#menu li:hover{
  background-color: white;
  color: #2675A6;
}
#second-nav-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2675A6;
  color: white;
  font-weight: bold;
  padding: 5px 15px 4px 15px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #01426A;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 65px;
}
.from-left-side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 127px;
  right: 0;
  background-color: #01426A;
  overflow-x: hidden;
  transition: 0.5s;
}
.white {
  color: white;
}
.grow-10{
  flex-basis: 68%;
}
.grow-1{
  flex-basis: 16%;
}
.py-15{
  padding-left: 15px;
  padding-right: 15px;
}
.px-22{
  padding-top: 22px;
  padding-bottom: 22px;
}
.opaque-button{
  background-color: #49AABF;
  opacity: 0.3;
  color: white;
  border: none;
}
.opaque-button:hover{
  background-color: white;
  opacity: 1;
  color: #2675A6;
}

.dropdown-btn {
  padding: 15px 30px 14px 20px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: bold; 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-container {
  display: flex;
  max-height: 0px;
  height: auto;
  overflow: hidden;
  background-color: #262626;
  padding: 0 30px;
  transition: max-height 0.5s;
}
.dropdown-container-active{
  display: flex;
  max-height: 300px;
  height: auto;
  overflow: hidden;
  background-color: #49AABF;
  padding: 0 30px;
  opacity: 0.7;
  transition: max-height 0.8s;
}
.dropdown-container-active ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  color:white;
  font-weight: bold;
}